.test-card {
  margin: 15px 0;
  position: relative;

  &__description {
    max-height: 170px;
  }

  &__title {
    font-size: 1.1rem;
    max-height: 60px;
  }

  &__control {
    display: flex;
    justify-content: space-between;
  }
}
