.profile {
  &__username {
    font-weight: bold;
    text-align: center;
  }

  &__avatar {
    border: 6px solid #f0f8ff;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}
